debug/core_debug/sim/work/
debug/core_debug/sim/*
debug/core_debug/sim/!*/
debug/core_debug/sim/!*.*

debug/top_debug/sim/work/
debug/top_debug/sim/*
debug/top_debug/sim/!*/
debug/top_debug/sim/!*.*

verif/sv_core/sim/work/
verif/sv_core/sim/*
verif/sv_core/sim/!*/
verif/sv_core/sim/!*.*
debug/core_debug/sim/transcript
debug/core_debug/sim/transcript
