[submodule "verif/uvm_top/apb_vip"]
	path = verif/uvm_top/apb_vip
	url = https://github.com/asveske/apb_vip.git
[submodule "verif/uvm_top/spmem"]
	path = verif/uvm_top/spmem
	url = https://github.com/NikolaF-95/RAM_VIP.git
[submodule "verif/uvm_top/uvm"]
	path = verif/uvm_top/uvm
	url = https://github.com/accellera/uvm.git
